  h1{
            color: antiquewhite;
            background-color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: right;
        }
.about{

    color:blanchedalmond;
    text-align: center;
    font-size:larger;
}

.form {
    font-family: Arial;
    background: #ffe8f3; 
    padding: 20px;
}

form {
    width: 300px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 105, 180, 0.4); 
}

label {
    font-weight: bold;
    color: #c2185b; 
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f48fb1;
    border-radius: 6px;
    background: #fff1f9; 
}

button {
    width: 100%;
    padding: 12px;
    background: #d81b60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #ad1457; 
}
